mixin power-bar(options)
  -
    options = options || {};

    const { title } = options;
    let power = options.power || 0;

    if (power < 0) {
      power = 0;
    } else if (power > 12) {
      power = 12;
    }

  .power-bar
    .power-bar__title=title
    .power-bar__buffer
      - for (let i = 0; i < power; i++)
          .power-bar__mark.power-bar__mark_enabled
      - for (let i = power; i < 12; i++)
          .power-bar__mark
