mixin power-bar(options)
  -
    options = options || {};

    const { title } = options;

    const MIN_POWER = 0;
    const MAX_POWER = 12;
    let power = options.power || MIN_POWER;

    if (power < MIN_POWER) {
      power = MIN_POWER;
    } else if (power > MAX_POWER) {
      power = MAX_POWER;
    }

  .power-bar
    .power-bar__title=title
    .power-bar__buffer
      - for (let i = MIN_POWER; i < power; i++)
          .power-bar__mark.power-bar__mark_enabled
      - for (let i = power; i < MAX_POWER; i++)
          .power-bar__mark
