@require "../colors"

$mark-size = 35px
$mark-margin-right = 20px

$buffer-margin-left = 5px
$buffer-margin-top = 30px

.power-bar
  &__title
    text-align center
    text-transform uppercase
    font-size 4.25rem

  &__buffer
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-justify-content center
    justify-content center
    margin-left $buffer-margin-left
    margin-top $buffer-margin-top

    @media only screen and (max-width: 1024px)
      margin-left $buffer-margin-left * 0.4
      margin-top $buffer-margin-top * 0.4

    @media only screen and (min-width: 1024px) and (max-width: 1440px)
      margin-left $buffer-margin-left * 0.5
      margin-top $buffer-margin-top * 0.5

    @media only screen and (min-width: 1440px) and (max-width: 1680px)
      margin-left $buffer-margin-left * 0.6
      margin-top $buffer-margin-top * 0.6

    @media only screen and (min-width: 1680px) and (max-width: 1920px)
      margin-left $buffer-margin-left * 0.7
      margin-top $buffer-margin-top * 0.7

    @media only screen and (min-width: 1920px) and (max-width: 2048px)
      margin-left $buffer-margin-left * 0.8
      margin-top $buffer-margin-top * 0.8

  &__mark
    width $mark-size
    height $mark-size
    background-color $color-gray
    margin-right $mark-margin-right
    -webkit-border-radius 100%
    -moz-border-radius 100%
    border-radius 100%

    @media only screen and (max-width: 1024px)
      width $mark-size * 0.4
      height $mark-size * 0.4
      margin-right $mark-margin-right * 0.4

    @media only screen and (min-width: 1024px) and (max-width: 1440px)
      width $mark-size * 0.5
      height $mark-size * 0.5
      margin-right $mark-margin-right * 0.5

    @media only screen and (min-width: 1440px) and (max-width: 1680px)
      width $mark-size * 0.6
      height $mark-size * 0.6
      margin-right $mark-margin-right * 0.6

    @media only screen and (min-width: 1680px) and (max-width: 1920px)
      width $mark-size * 0.7
      height $mark-size * 0.7
      margin-right $mark-margin-right * 0.7

    @media only screen and (min-width: 1920px) and (max-width: 2048px)
      width $mark-size * 0.8
      height $mark-size * 0.8
      margin-right $mark-margin-right * 0.8

    &_enabled
      background-color $color-blue
