@require "../colors"

.power-bar
  &__title
    font-size 4.25rem
    white-space nowrap
    overflow hidden
    -o-text-overflow ellipsis
    text-overflow ellipsis
    text-transform uppercase
    text-align center

  &__buffer
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-justify-content center
    justify-content center
    margin-top 2.5rem
    margin-left 0.416666666rem

  &__mark
    width 2.916666666rem
    height 2.916666666rem
    background-color $color-gray
    margin-right 1.666666666rem
    -webkit-border-radius 50%
    -moz-border-radius 50%
    border-radius 50%

    &_enabled
      background-color $color-blue
