@require "../colors"

.progress-bar
  &__title
    font-size 4.25rem
    white-space nowrap
    overflow hidden
    -o-text-overflow ellipsis
    text-overflow ellipsis
    text-transform uppercase

  &__buffer
    background-color $color-gray
    margin-top 3.333333333rem

  &__progress
    height 3.666666666rem
    background-color $color-blue
