mixin progress-bar(o)
  -
    o = o || {};
    o.progress = o.progress || 0;

    if (o.progress < 0) {
      o.progress = 0;
    } else if (o.progress > 100) {
      o.progress = 100;
    }

  .progress-bar
    .progress-bar__title=o.title
    .progress-bar__buffer
      .progress-bar__progress(style="width: " + o.progress + "%;")
