$k50 = 0.5
$k60 = 0.6
$k70 = 0.7
$k80 = 0.8

$buffer-margin-top = 40px

$progress-height = 44px

.progress-bar
  &__title
    text-transform uppercase

    font-size 4.25rem

  &__buffer
    background-color #e6e6e6

    margin-top $buffer-margin-top

  &__progress
    height $progress-height

    background-color #006cb4

// 50%
@media only screen and (min-width: 960px) and (max-width: 1439px)
  .progress-bar
    &__buffer
      margin-top $buffer-margin-top * $k50

    &__progress
      height $progress-height * $k50

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1679px)
  .progress-bar
    &__buffer
      margin-top $buffer-margin-top * $k60

    &__progress
      height $progress-height * $k60

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1919px)
  .progress-bar
    &__buffer
      margin-top $buffer-margin-top * $k70

    &__progress
      height $progress-height * $k70

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2047px)
  .progress-bar
    &__buffer
      margin-top $buffer-margin-top * $k80

    &__progress
      height $progress-height * $k80
