mixin progress-bar(options)
  -
    options = options || {};

    const { title } = options;

    const MIN_PROGRESS = 0;
    const MAX_PROGRESS = 100;
    let progress = options.progress || MIN_PROGRESS;

    if (progress < MIN_PROGRESS) {
      progress = MIN_PROGRESS;
    } else if (progress > MAX_PROGRESS) {
      progress = MAX_PROGRESS;
    }

    const progressInPercent = ((progress - MIN_PROGRESS) / (MAX_PROGRESS - MIN_PROGRESS)) * 100;

  .progress-bar
    .progress-bar__title=title
    .progress-bar__buffer
      .progress-bar__progress(style=`width: ${progressInPercent}%;`)
