mixin progress-bar(options)
  -
    options = options || {};

    const { title } = options;
    let progress = options.progress || 0;

    if (progress < 0) {
      progress = 0;
    } else if (progress > 100) {
      progress = 100;
    }

  .progress-bar
    .progress-bar__title=title
    .progress-bar__buffer
      .progress-bar__progress(style="width: " + progress + "%;")
