$timeline-margin-left = 415px

$subtitle-margin-top = 5px
$subtitle-margin-left = -3px

$content-line-height = 37px
$content-word-spacing = -0.5px
$content-margin-top = 12px

scale(k)
  .period
    &__timeline
      margin-left $timeline-margin-left * k

    &__subtitle
      margin-top $subtitle-margin-top * k
      margin-left $subtitle-margin-left * k

    &__content
      line-height $content-line-height * k
      word-spacing $content-word-spacing * k
      margin-top $content-margin-top * k

.period
  &__title, &__subtitle, &__timeline
    font-size 4.3rem

  &__title, &__subtitle
    text-transform uppercase

  &__title
    font-weight bold

    float left

  &__timeline
    margin-left $timeline-margin-left

  &__timeline::before
    content '// '

  &__subtitle
    clear both

    margin-top $subtitle-margin-top
    margin-left $subtitle-margin-left

  &__content
    font-size 2.585rem

    line-height $content-line-height

    word-spacing $content-word-spacing

    margin-top $content-margin-top

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)

// <= 480px
@media only screen and (max-width: 480px)
  .period
    &__title
      float none
      margin-bottom 12.4px

    &__timeline
      margin-left 0

    &__timeline::before
      content ''
