include ../text/text

mixin period(options)
  -
    options = options || {};

    const { title, timeline, subtitle } = options;
    const titleColor = typeof options.titleColor === 'string'
      ? "period__title_color_" + options.titleColor
      : undefined;

  .period
    header.period__header
      .period__title(class=titleColor)=title
      .period__timeline=timeline
      .period__subtitle=subtitle
    .period__content
      +text()
        block
