@require "../colors"
@require "../text"

.period
  &__title, &__subtitle, &__timeline
    font-size 4.3rem

  &__title, &__subtitle
    text-transform uppercase

  &__title
    font-weight bold
    float left

    &_blue
      color $color-blue

  &__timeline
    margin-left 34.58333333rem

    @media only screen and (max-width: 480px)
      margin-left 0

  &__timeline::before
    content "// "

    @media only screen and (max-width: 480px)
      content ""

  &__subtitle
    clear both
    margin-top 2.583333333rem

  &__content
    margin-top 2rem
    margin-left 0.25rem
