$timeline-margin-left = 415px

$subtitle-margin-top = 5px
$subtitle-margin-left = -3px

$content-line-height = 37px
$content-word-spacing = -0.5px
$content-margin-top = 12px

.period
  &__title, &__subtitle, &__timeline
    font-size 4.3rem

  &__title, &__subtitle
    text-transform uppercase

  &__title
    font-weight bold
    float left

    @media only screen and (max-width: 480px)
      float none
      margin-bottom 12.4px

  &__timeline
    margin-left $timeline-margin-left

    @media only screen and (max-width: 1024px)
      margin-left $timeline-margin-left * 0.4

    @media only screen and (min-width: 1024px) and (max-width: 1440px)
      margin-left $timeline-margin-left * 0.5

    @media only screen and (min-width: 1440px) and (max-width: 1680px)
      margin-left $timeline-margin-left * 0.6

    @media only screen and (min-width: 1680px) and (max-width: 1920px)
      margin-left $timeline-margin-left * 0.7

    @media only screen and (min-width: 1920px) and (max-width: 2048px)
      margin-left $timeline-margin-left * 0.8

    @media only screen and (max-width: 480px)
      margin-left 0

  &__timeline::before
    content "// "

    @media only screen and (max-width: 480px)
      content ""

  &__subtitle
    clear both
    margin-top $subtitle-margin-top
    margin-left $subtitle-margin-left

    @media only screen and (max-width: 1024px)
      margin-top $subtitle-margin-top * 0.4
      margin-left $subtitle-margin-left * 0.4

    @media only screen and (min-width: 1024px) and (max-width: 1440px)
      margin-top $subtitle-margin-top * 0.5
      margin-left $subtitle-margin-left * 0.5

    @media only screen and (min-width: 1440px) and (max-width: 1680px)
      margin-top $subtitle-margin-top * 0.6
      margin-left $subtitle-margin-left * 0.6

    @media only screen and (min-width: 1680px) and (max-width: 1920px)
      margin-top $subtitle-margin-top * 0.7
      margin-left $subtitle-margin-left * 0.7

    @media only screen and (min-width: 1920px) and (max-width: 2048px)
      margin-top $subtitle-margin-top * 0.8
      margin-left $subtitle-margin-left * 0.8

  &__content
    font-size 2.585rem
    line-height $content-line-height
    word-spacing $content-word-spacing
    margin-top $content-margin-top

    @media only screen and (max-width: 1024px)
      line-height $content-line-height * 0.4
      word-spacing $content-word-spacing * 0.4
      margin-top $content-margin-top * 0.4

    @media only screen and (min-width: 1024px) and (max-width: 1440px)
      line-height $content-line-height * 0.5
      word-spacing $content-word-spacing * 0.5
      margin-top $content-margin-top * 0.5

    @media only screen and (min-width: 1440px) and (max-width: 1680px)
      line-height $content-line-height * 0.6
      word-spacing $content-word-spacing * 0.6
      margin-top $content-margin-top * 0.6

    @media only screen and (min-width: 1680px) and (max-width: 1920px)
      line-height $content-line-height * 0.7
      word-spacing $content-word-spacing * 0.7
      margin-top $content-margin-top * 0.7

    @media only screen and (min-width: 1920px) and (max-width: 2048px)
      line-height $content-line-height * 0.8
      word-spacing $content-word-spacing * 0.8
      margin-top $content-margin-top * 0.8
