include ../text/text

mixin period(o)
  -
    o = o || {};
    o.titleColor = typeof o.titleColor === 'string'
      ? "period__title_color_" + o.titleColor
      : undefined;

  .period
    header.period__header
      .period__title(class=o.titleColor)=o.title
      .period__timeline=o.timeline
      .period__subtitle=o.subtitle
    .period__content
      +text()
        block
