include ../text/text

mixin period(options)
  -
    options = options || {};

    const { title, titleColor, timeline, subtitle } = options;

    let titleClassName = "period__title";
    titleClassName += typeof titleColor === "string" ? ` period__title_color_${titleColor}` : "";

  .period
    header.period__header
      div(class=titleClassName)=title
      .period__timeline=timeline
      .period__subtitle=subtitle
    .period__content
      +text()
        block
