.circle
  width 19vw
  height 19vw

  border 1px solid #006cb4
  border-radius 100%

  position relative

  &__inner
    width 16vw
    height 16vw

    border-radius 100%

    background-color #006cb4
    background-size contain
    background-repeat no-repeat

    position absolute
    left 0
    right 0
    top 0
    bottom 0

    margin auto
