@require "../colors"

$circle-size = 462px
$circle-size-inner = 405px

scale(k)
  .circle
    width $circle-size * k
    height $circle-size * k

    &__inner
      width $circle-size-inner * k
      height $circle-size-inner * k

.circle
  width $circle-size
  height $circle-size
  border 1px solid $color-blue
  -webkit-border-radius 100%
  -moz-border-radius 100%
  border-radius 100%
  position relative

  &__inner
    width $circle-size-inner
    height $circle-size-inner
    -webkit-border-radius 100%
    -moz-border-radius 100%
    border-radius 100%
    background-color $color-blue
    background-repeat no-repeat

    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
