@require "../colors"

.circle
  width 38.5rem
  height 38.5rem
  border 1px solid $color-blue
  -webkit-border-radius 50%
  -moz-border-radius 50%
  border-radius 50%
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-justify-content center
  justify-content center
  -webkit-align-items center
  align-items center

  &__inner
    width 33.75rem
    height 33.75rem
    -webkit-border-radius 50%
    -moz-border-radius 50%
    border-radius 50%
    background-color $color-blue
    background-repeat no-repeat
