mixin circle(o)
  -
    o = o || {};
    o.img = o.img || {};

    let imgStyle = "";
    if (o.img.src) {
      imgStyle += "background-image: url(\"" + o.img.src + "\");";
      imgStyle += "background-color: transparent;";

      if (o.img.x || o.img.y) {
        let x, y;
        x = o.img.x ? o.img.x : "0";
        y = o.img.y ? o.img.y : "0";
        imgStyle += "background-position: " + x + " " + y + ";";
      }

      if (o.img.size) {
        imgStyle += "background-size: " + o.img.size + ";";
      }
    }

  .circle
    .circle__inner(style=imgStyle)
