@require '../section/section.styl'
@require '../skill/skill.styl'

.section_skill
  .section__title
    margin-left 18px
    margin-right 8px

  .section__content
    padding-left 12px
    padding-top 58px

  .skill
    margin-bottom 50px
