@require '../section/section.styl'
@require '../power-bar/power-bar.styl'

$icon-size = 143px

$title-margin-right = 18px
$title-margin-bottom = 11px

$line-margin-right = 6px
$line-margin-left = 6px
$line-margin-bottom = 6px

$content-padding-top = 57px
$content-padding-left = 5px

$skill-margin-bottom = 50px

scale(k)
  .section_skill
    .section
      &__icon
        width $icon-size * k
        height $icon-size * k

      &__title
        margin-right $title-margin-right * k
        margin-bottom $title-margin-bottom * k

      &__line
        margin-right $line-margin-right * k
        margin-left $line-margin-left * k
        margin-bottom $line-margin-bottom * k

      &__content
        padding-top $content-padding-top * k
        padding-left $content-padding-left * k

    .power-bar
      margin-bottom $skill-margin-bottom * k

.section_skill
  .section
    &__icon
      width $icon-size
      height $icon-size

    &__title
      margin-right $title-margin-right
      margin-bottom $title-margin-bottom

    &__line
      margin-right $line-margin-right
      margin-left $line-margin-left
      margin-bottom $line-margin-bottom

    &__content
      padding-top $content-padding-top
      padding-left $content-padding-left

  .power-bar
    margin-bottom $skill-margin-bottom

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
