include ../section/section.pug
include ../skill/skill.pug

mixin skill-section(options)
  -
    options = options || {};
    options.classname = options.classname || '';
    options.skills = options.skills || [];

  +section({classname: 'section_skill ' + options.classname, title: 'Skills', icon: './img/skill-icon.png'})
    each s in options.skills
      +skill({title: s.title, power: s.power})
