@require "../contact"

$border-spacing-v = 72px
$contact-title-padding-right = 79px

.contact-list
  display table
  border-spacing 0 72px

  @media only screen and (max-width: 1024px)
    border-spacing 0 $border-spacing-v * 0.4

  @media only screen and (min-width: 1024px) and (max-width: 1440px)
    border-spacing 0 $border-spacing-v * 0.5

  @media only screen and (min-width: 1440px) and (max-width: 1680px)
    border-spacing 0 $border-spacing-v * 0.6

  @media only screen and (min-width: 1680px) and (max-width: 1920px)
    border-spacing 0 $border-spacing-v * 0.7

  @media only screen and (min-width: 1920px) and (max-width: 2048px)
    border-spacing 0 $border-spacing-v * 0.8

  .contact
    display table-row

    &__title, &__content
      display table-cell

    &__title
      padding-right 79px

      @media only screen and (max-width: 1024px)
        padding-right $contact-title-padding-right * 0.4

      @media only screen and (min-width: 1024px) and (max-width: 1440px)
        padding-right $contact-title-padding-right * 0.5

      @media only screen and (min-width: 1440px) and (max-width: 1680px)
        padding-right $contact-title-padding-right * 0.6

      @media only screen and (min-width: 1680px) and (max-width: 1920px)
        padding-right $contact-title-padding-right * 0.7

      @media only screen and (min-width: 1920px) and (max-width: 2048px)
        padding-right $contact-title-padding-right * 0.8
