include ../contact/contact.pug

mixin contact-list(options)
  - options = options ? options : {}
  - options.contacts = options.contacts ? options.contacts : []

  .contact-list(class=options.classname)
    each c in options.contacts
      +contact({classname: 'contact-list__contact', title: c.title, content: c.content})
