include ../section/section

mixin profile-section
  -
    options = options || {};
    options.classname = options.classname || "";

  +section({classname: "section_profile " + options.classname, title: "Profile", icon: "./assets/profile-icon.png"})
    block
