@require '../section/section.styl'
@require '../period/period.styl'

.section_education
  .section
    &__icon
      margin-top -3px
      margin-right 38px

    &__title
      margin-bottom 15px
      margin-right 15px

    &__line
      margin-bottom 8px
      margin-right 0
      margin-left 0

    &__content
      padding-left 67px
      padding-top 30px

  .education-list
    &__item
      list-style-type none
      margin-bottom 34px

    &__item::before
      content '\b7'
      font-size 325px
      float left
      position relative
      left -95px
      top -25px

    .period
      &__title
        margin-left -66px

        color #006cb4

      &__subtitle
        margin-top 31px
        margin-left -2px

      &__content
        margin-top 24px
        margin-left 2px
