include ../section/section
include ../period-list/period-list

mixin education-section(options)
  -
    options = options || {};
    options.classname = options.classname || "";
    options.education = options.education || [];

  +section({classname: "section_education " + options.classname, title: "Education", icon: "./assets/education-icon.png"})
    +period-list({periods: options.education})
