@require '../section'
@require '../period-list'
@require '../colors'

$icon-margin-top = -3px
$icon-margin-right = 38px

$title-margin-bottom = 15px
$title-margin-right = 15px

$line-margin-bottom = 7px

$content-padding-left = 105px
$content-padding-top = 60px

scale(k)
  .section_education
    .section
      &__icon
        margin-top $icon-margin-top * k
        margin-right $icon-margin-right * k

      &__title
        margin-bottom $title-margin-bottom * k
        margin-right $title-margin-right * k

      &__line
        margin-bottom $line-margin-bottom * k

      &__content
        padding-left $content-padding-left * k
        padding-top $content-padding-top * k

.section_education
  .section
    &__icon
      margin-top $icon-margin-top
      margin-right $icon-margin-right

    &__title
      margin-bottom $title-margin-bottom
      margin-right $title-margin-right

    &__line
      margin-bottom $line-margin-bottom
      margin-right 0
      margin-left 0

    &__content
      padding-left $content-padding-left
      padding-top $content-padding-top

  .period
    &__title
      color $color-blue

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
