include ../section/section.pug
include ../period/period.pug

mixin education-section(options)
  - options = options ? options : {}
  - options.education = options.education ? options.education : []

  +section({classname: 'section_education', title: 'Education'})
    ul(class='education-list')
      each e in options.education
        li(class='education-list__item')
          +period({title: e.title, subtitle: e.subtitle, timeline: e.timeline})
            | #{e.content}
