.section_contact
  .section__content
    display table

    border-spacing 2px 71px

  .contact
    display table-row

    &__title, &__content
      display table-cell

    &__title
      padding-right 86px
