include ../section/section.pug
include ../contact-list/contact-list.pug

mixin contact-section(options)
  -
    options = options || {};
    options.classname = options.classname || '';
    options.contacts = options.contacts || [];

  +section({classname: 'section_contact ' + options.classname, title: 'Contact', icon: './img/contact-icon.png'})
    +contact-list({contacts: options.contacts})
