@require "../section"
@require "../contact-list"

$icon-size = 143px
$icon-margin-right = 24px

$title-margin-right = 12px
$title-margin-bottom = 9px

$line-margin-right = 1px
$line-margin-bottom = 4px

$contact-list-margin-top = -3px

scale(k)
  .section_contact
    .section
      &__icon
        width $icon-size * k
        height $icon-size * k
        margin-right $icon-margin-right * k

      &__title
        margin-right $title-margin-right * k
        margin-bottom $title-margin-bottom * k

      &__line
        margin-right $line-margin-right * k
        margin-bottom $line-margin-bottom * k

    .contact-list
      margin-top $contact-list-margin-top * k

.section_contact
  .section
    &__icon
      width $icon-size
      height $icon-size
      margin-right $icon-margin-right

    &__title
      margin-right $title-margin-right
      margin-bottom $title-margin-bottom

    &__line
      margin-right $line-margin-right
      margin-bottom $line-margin-bottom

  .contact-list
    margin-top $contact-list-margin-top

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
