@font-face
  font-family "Myriad Pro"
  font-weight normal
  font-style normal
  src url("./fonts/myriad-pro.eot")
  src local("☺"),
      url("./fonts/myriad-pro.woff") format("woff"),
      url("./fonts/myriad-pro.ttf") format("truetype"),
      url("./fonts/myriad-pro.svg") format("svg")

@font-face
  font-family "Myriad Pro"
  font-weight normal
  font-style italic
  src url("./fonts/myriad-pro-italic.eot")
  src local("☺"),
      url("./fonts/myriad-pro-italic.woff") format("woff"),
      url("./fonts/myriad-pro-italic.ttf") format("truetype"),
      url("./fonts/myriad-pro-italic.svg") format("svg")

@font-face
  font-family "Myriad Pro"
  font-weight bold
  font-style normal
  src url("./fonts/myriad-pro-bold.eot")
  src local("☺"),
      url("./fonts/myriad-pro-bold.woff") format("woff"),
      url("./fonts/myriad-pro-bold.ttf") format("truetype"),
      url("./fonts/myriad-pro-bold.svg") format("svg")

@font-face
  font-family "Myriad Pro"
  font-weight bold
  font-style italic
  src url("./fonts/myriad-pro-italic-bold.eot")
  src local("☺"),
      url("./fonts/myriad-pro-italic-bold.woff") format("woff"),
      url("./fonts/myriad-pro-italic-bold.ttf") format("truetype"),
      url("./fonts/myriad-pro-italic-bold.svg") format("svg")
