.period-list
  margin 0
  padding 0

  &__li
    position relative
    list-style-type none
    margin-bottom 1.699999999rem

  &__li:last-child
    margin-bottom 0

  &__mark
    position absolute
    left -6.75rem
    top 1.5rem
    width 3.333333333rem
    height 3.333333333rem
    background-color #000
    border-radius 50%
