@require '../period/period.styl'

$li-margin-bottom = 34px

$mark-left = -81px
$mark-top = 2px

$period-subtitle-margin-top = 31px
$period-subtitle-margin-left = -2px
$period-content-margin-top = 24px
$period-content-margin-left = 3px

scale(k)
  .period-list
    &__mark
      left $mark-left * k
      top $mark-top * k

    .period
      &__subtitle
        margin-top $period-subtitle-margin-top * k
        margin-left $period-subtitle-margin-left * k

      &__content
        margin-top $period-content-margin-top * k
        margin-left $period-content-margin-left * k

.period-list
  margin 0
  padding 0

  &__li
    position relative

    list-style-type none

    margin-bottom $li-margin-bottom

  &__mark
    position absolute
    left $mark-left
    top $mark-top

    width 3.333333333rem
    height 3.333333333rem

    background-color black

    border-radius 100%

  .period
    &__subtitle
      margin-top $period-subtitle-margin-top
      margin-left $period-subtitle-margin-left

    &__content
      margin-top $period-content-margin-top
      margin-left $period-content-margin-left

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

  .period-list__li
    margin-bottom 15.5px

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

  .period-list__li
    margin-bottom $li-margin-bottom * 0.5

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

  .period-list__li
    margin-bottom 23.8px

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

  .period-list__li
    margin-bottom 25px

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)

  .period-list__li
    margin-bottom 26.4px
