include ../period/period.pug

mixin period-list(options)
  - options = options ? options : {}
  - options.periods = options.periods ? options.periods : []

  ul.period-list(class=options.classname)
    each p in options.periods
      li.period-list__item
        +period({title: p.title, subtitle: p.subtitle, timeline: p.timeline})
          | #{p.content}
