include ../period/period

mixin period-list(o)
  -
    o = o || {};
    o.periods = o.periods || [];

  ul.period-list
    each p in o.periods
      li.period-list__li
        .period-list__mark
        .period-list__item
          +period(p)
            | !{p.content}
