include ../period/period

mixin period-list(options)
  -
    options = options || {};

    const periods = options.periods || [];

  ul.period-list
    each periodItem in periods
      li.period-list__list-item
        .period-list__mark
        .period-list__period-wrapper
          +period(periodItem)
            | !{periodItem.content}
