include ../period/period

mixin period-list(options)
  -
    options = options || {};
    options.periods = options.periods || [];

  ul.period-list
    each periodItem in options.periods
      li.period-list__li
        .period-list__mark
        .period-list__item
          +period(periodItem)
            | !{periodItem.content}
