@require '../circle/circle.styl'

$padding-left = 32px

$name-margin-top = 45px
$name-word-spacing = 2px

$surname-margin-top = -40px
$surname-letter-spacing = 1px

$job-margin-left = 2px
$job-letter-spacing = -1px

scale(k)
  .person-card
    padding-left $padding-left * k

    &__name
      margin-top $name-margin-top * k
      word-spacing $name-word-spacing * k

    &__surname
      margin-top $surname-margin-top * k
      letter-spacing $surname-letter-spacing * k

    &__job
      margin-left $job-margin-left * k
      letter-spacing $job-letter-spacing * k

.person-card
  padding-left $padding-left

  text-align center
  text-transform uppercase

  &__photo
    margin 0 auto

  &__name
    margin-top $name-margin-top

    font-size 9.25rem

    word-spacing $name-word-spacing

  &__surname
    margin-top $surname-margin-top

    font-size 10.2rem
    font-weight bold

    letter-spacing $surname-letter-spacing

  &__job
    font-size 4.15rem
    font-weight bold

    margin-left $job-margin-left

    letter-spacing $job-letter-spacing

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
