include ../photo/photo

mixin person-card(options)
  -
    options = options || {};

  section.person-card
    .percon-card__photo
      +photo({img: {src: options.photo, x: "center", y: "center", size: "contain"}})
    .person-card__name=options.name
    .person-card__surname=options.surname
    .person-card__job=options.job
