include ../photo/photo

mixin person-card(options)
  -
    options = options || {};

    const { photo, name, surname, job } = options;

  section.person-card
    .percon-card__photo
      +photo({img: {src: photo, x: "center", y: "center", size: "contain"}})
    .person-card__name=name
    .person-card__surname=surname
    .person-card__job=job
