@require "../circle"

.person-card
  display flex
  flex-direction column
  align-items center
  padding-left 2.666666666rem
  text-transform uppercase

  &__photo
    margin 0 auto

  &__name
    margin-top 5.65rem
    font-size 9.25rem
    word-spacing 0.166666666rem
    line-height 7rem

  &__surname
    margin-top 1.25rem
    font-size 10.2rem
    font-weight bold
    letter-spacing 0.083333333rem
    line-height 7.718918918rem

  &__job
    font-size 4.15rem
    font-weight bold
    margin-top 3.583333333rem
    margin-left 0.166666666rem
    letter-spacing -0.083333333rem
    line-height 3.140540540rem

  &__name, &__surname, &__job
    max-width 100%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    text-align center
