include ../circle/circle

mixin person-card(o)
  -
    o = o || {};

  section.person-card
    .percon-card__photo
      +circle({img: {src: o.photo, x: "center", y: "center", size: "contain"}})
    .person-card__name=o.name
    .person-card__surname=o.surname
    .person-card__job=o.job
