@require "../colors"

$title-letter-spacing = 1px

scale(k)
  .contact
    &__title
      letter-spacing $title-letter-spacing * k

.contact
  &__title
    color $color-blue
    text-transform uppercase
    font-size 3.33rem
    font-weight bold
    letter-spacing $title-letter-spacing

  &__content
    font-size 3.42rem

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
