include ../section/section.pug
include ../progress-bar/progress-bar.pug

mixin software-section(options)
  - options = options ? options : {}
  - options.classname = options.classname ? options.classname : ''
  - options.software = options.software ? options.software : []

  +section({classname: 'section_software ' + options.classname, title: 'Software', icon: './img/software-icon.png'})
    .section__col-1
      - for (let i = 0; i < options.software.length; i += 2)
        +progress-bar({title: options.software[i].title, progress: options.software[i].progress})
    .section__col-2
      - for (let i = 1; i < options.software.length; i += 2)
        +progress-bar({title: options.software[i].title, progress: options.software[i].progress})
