@require '../section/section.styl'
@require '../software-list/software-list.styl'

$icon-margin-right = 38px

$title-margin-right = 45px
$title-margin-bottom = -2px

$line-margin-bottom = -8px

$content-padding-top = 60px

scale(k)
  .section_software
    .section
      &__icon
        margin-right $icon-margin-right * k

      &__title
        margin-right $title-margin-right * k
        margin-bottom $title-margin-bottom * k

      &__line
        margin-bottom $line-margin-bottom * k

      &__content
        padding-top $content-padding-top * k

.section_software
  .section
    &__icon
      margin-right $icon-margin-right

    &__title
      margin-right $title-margin-right
      margin-bottom $title-margin-bottom

    &__line
      margin-left 0
      margin-right 0
      margin-bottom $line-margin-bottom

    &__content
      padding-top $content-padding-top

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
