include ../section/section
include ../software-list/software-list

mixin software-section(options)
  -
    options = options || {};
    options.classname = options.classname || "";

  +section({classname: "section_software " + options.classname, title: "Software", icon: "./img/software-icon.png"})
    +software-list({software: options.software})
