@require '../section/section.styl'
@require '../software-list/software-list.styl'

.section_software
  .section
    &__icon
      margin-right 38px

    &__title
      margin-right 45px
      margin-bottom -2px

    &__line
      margin-left 0
      margin-right 0
      margin-bottom -8px

    &__content
      padding-top 60px
