@require "../section"
@require "../software-list"

$icon-margin-right = 38px

$title-margin-right = 45px
$title-margin-bottom = -2px

$line-margin-bottom = -8px

$content-padding-top = 60px

.section_software
  .section
    &__icon
      margin-right $icon-margin-right

      @media only screen and (max-width: 1024px)
        margin-right $icon-margin-right * 0.4

      @media only screen and (min-width: 1024px) and (max-width: 1440px)
        margin-right $icon-margin-right * 0.5

      @media only screen and (min-width: 1440px) and (max-width: 1680px)
        margin-right $icon-margin-right * 0.6

      @media only screen and (min-width: 1680px) and (max-width: 1920px)
        margin-right $icon-margin-right * 0.7

      @media only screen and (min-width: 1920px) and (max-width: 2048px)
        margin-right $icon-margin-right * 0.8

    &__title
      margin-right $title-margin-right
      margin-bottom $title-margin-bottom

      @media only screen and (max-width: 1024px)
        margin-right $title-margin-right * 0.4
        margin-bottom $title-margin-bottom * 0.4

      @media only screen and (min-width: 1024px) and (max-width: 1440px)
        margin-right $title-margin-right * 0.5
        margin-bottom $title-margin-bottom * 0.5

      @media only screen and (min-width: 1440px) and (max-width: 1680px)
        margin-right $title-margin-right * 0.6
        margin-bottom $title-margin-bottom * 0.6

      @media only screen and (min-width: 1680px) and (max-width: 1920px)
        margin-right $title-margin-right * 0.7
        margin-bottom $title-margin-bottom * 0.7

      @media only screen and (min-width: 1920px) and (max-width: 2048px)
        margin-right $title-margin-right * 0.8
        margin-bottom $title-margin-bottom * 0.8

    &__line
      margin-left 0
      margin-right 0
      margin-bottom $line-margin-bottom

      @media only screen and (max-width: 1024px)
        margin-bottom $line-margin-bottom * 0.4

      @media only screen and (min-width: 1024px) and (max-width: 1440px)
        margin-bottom $line-margin-bottom * 0.5

      @media only screen and (min-width: 1440px) and (max-width: 1680px)
        margin-bottom $line-margin-bottom * 0.6

      @media only screen and (min-width: 1680px) and (max-width: 1920px)
        margin-bottom $line-margin-bottom * 0.7

      @media only screen and (min-width: 1920px) and (max-width: 2048px)
        margin-bottom $line-margin-bottom * 0.8

    &__content
      padding-top $content-padding-top

      @media only screen and (max-width: 1024px)
        padding-top $content-padding-top * 0.4

      @media only screen and (min-width: 1024px) and (max-width: 1440px)
        padding-top $content-padding-top * 0.5

      @media only screen and (min-width: 1440px) and (max-width: 1680px)
        padding-top $content-padding-top * 0.6

      @media only screen and (min-width: 1680px) and (max-width: 1920px)
        padding-top $content-padding-top * 0.7

      @media only screen and (min-width: 1920px) and (max-width: 2048px)
        padding-top $content-padding-top * 0.8
