@require '../colors'

$icon-size = 148px
$icon-margin-right = 19px

$title-margin-right = 13px
$title-margin-bottom = 10px
$title-letter-spacing = 1px

$line-size = 10px
$line-margin-bottom = 4px

$content-line-height = 37px
$content-word-spacing = -0.5px

scale(k)
  .section
    &__icon
      width $icon-size * k
      height $icon-size * k
      margin-right $icon-margin-right * k

    &__line
      height $line-size * k

    &__title
      margin-right $title-margin-right * k
      margin-bottom $title-margin-bottom * k
      letter-spacing $title-letter-spacing * k

    &__line
      height $line-size * k
      margin-bottom $line-margin-bottom * k

    &__content
      line-height $content-line-height * k
      word-spacing $content-word-spacing * k

.section
  &__header
    display flex
    align-items center

  &__icon
    width $icon-size
    height $icon-size
    background-repeat no-repeat
    background-size contain
    background-position center center
    margin-right $icon-margin-right

  &__title
    margin-top 0
    margin-right $title-margin-right
    margin-bottom $title-margin-bottom
    margin-left 0
    color $color-blue
    text-transform uppercase
    font-size 6.75rem
    font-weight bold
    letter-spacing $title-letter-spacing

  &__line
    flex-grow 1
    height $line-size
    background-color $color-blue
    margin-bottom $line-margin-bottom

  &__content
    font-size 2.585rem
    line-height $content-line-height
    word-spacing $content-word-spacing

// 40%
@media only screen and (max-width: 1024px)
  scale(0.4)

// 50%
@media only screen and (min-width: 1024px) and (max-width: 1440px)
  scale(0.5)

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1680px)
  scale(0.6)

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1920px)
  scale(0.7)

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2048px)
  scale(0.8)
