include ../text/text

mixin section(options)
  -
    options = options || {};

    const { title, type } = options;

    let className = "section";
    className += typeof type === "string" ? ` section_type_${type}` : "";

  section(class=className)
    header.section__header
      .section__icon
      h2.section__title=title
      .section__line
    .section__content
        block
