include ../circle/circle.pug

mixin section(options)
  - options = options ? options : {}
  - let iconStyle = options.icon ? 'background-image: url(\'' + options.icon + '\'); width: 150px; height: 150px;' : ''

  .section(class=options.classname)
    .section__header
      .section__icon(style=iconStyle)
      .section__title=options.title
      .section__line
    .section__content
        block
