include ../text/text

mixin section(options)
  -
    options = options || {};
    options.type = typeof options.type === 'string' ? "section_type_" + options.type : undefined;

  section.section(class=options.type)
    header.section__header
      .section__icon
      h2.section__title=options.title
      .section__line
    .section__content
        block
