include ../text/text

mixin section(o)
  -
    o = o || {};
    o.type = typeof o.type === 'string' ? "section_" + o.type : undefined;

  section.section(class=o.type)
    header.section__header
      .section__icon
      h2.section__title=o.title
      .section__line
    .section__content
        block
