include ../circle/circle.pug

mixin section(options)
  - options = options ? options : {}
  - let iconStyle = options.icon ? 'background-image: url(\'' + options.icon + '\');' : 'display: none;'

  section.section(class=options.classname)
    header.section__header
      .section__icon(style=iconStyle)
      .section__title=options.title
      .section__line
    .section__content
        block
