.skill
  &__title
    text-align center
    text-transform uppercase

    font-size 4.25rem

  &__powerbar
    display flex

    justify-content center

    margin-left 5px
    margin-top 30px

  &__mark
    width 35px
    height 35px

    margin-right 20px

    border-radius 100%

    &_enabled
      background-color #006cb4

    &_disabled
      background-color #e6e6e6
