mixin skill(options)
  -
    options = options || {};
    options.power = options.power || 0;

    if (options.power < 0) {
      options.power = 0;
    } else if (options.power > 12) {
      options.power = 12;
    }

  .skill(class=options.classname)
    .skill__title=options.title
    .skill__powerbar
      - for (let i = 0; i < options.power; i++)
          .skill__mark.skill__mark_enabled
      - for (let i = options.power; i < 12; i++)
          .skill__mark.skill__mark_disabled
