@require '../section/section.styl'
@require '../period/period.styl'

.section_exp
  .section
    &__icon
      width 153px
      height 153px

      margin-left 1px
      margin-right 33px

    &__title
      margin-bottom 2px
      margin-right 1px

    &__line
      margin-left 0
      margin-right 0
      margin-bottom -4px

    &__content
      padding-left 68px
      padding-top 60px

  .exp-list
    &__item
      list-style-type none
      margin-bottom 34px

    &__item::before
      content '\b7'
      font-size 325px
      float left
      position relative
      left -95px
      top -25px

    .period
      &__title
        margin-left -66px

      &__subtitle
        margin-top 30px
        margin-left -4px

      &__content
        margin-top 25px
