@require '../section/section.styl'
@require '../period-list/period-list.styl'

.section_exp
  .section
    &__icon
      width 153px
      height 153px

      margin-right 33px

    &__title
      margin-bottom 2px
      margin-right 1px

    &__line
      margin-left 0
      margin-right 0
      margin-bottom -3px

    &__content
      padding-left 105px
      padding-top 90px
