@require '../section/section.styl'
@require '../period-list/period-list.styl'

$icon-size = 153px
$icon-margin-right = 33px

$title-margin-bottom = 2px
$title-margin-right = 1px

$line-margin-bottom = -3px

$content-padding-left = 105px
$content-padding-top = 90px

.section_exp
  .section
    &__icon
      width $icon-size
      height $icon-size

      margin-right $icon-margin-right

    &__title
      margin-bottom $title-margin-bottom
      margin-right $title-margin-right

    &__line
      margin-left 0
      margin-right 0
      margin-bottom $line-margin-bottom

    &__content
      padding-left $content-padding-left
      padding-top $content-padding-top

// 50%
@media only screen and (min-width: 960px) and (max-width: 1439px)
  .section_exp
    .section
      &__icon
        width $icon-size * $k50
        height $icon-size * $k50

        margin-right $icon-margin-right * $k50

      &__title
        margin-bottom $title-margin-bottom * $k50
        margin-right $title-margin-right * $k50

      &__line
        margin-bottom $line-margin-bottom * $k50

      &__content
        padding-left $content-padding-left * $k50
        padding-top $content-padding-top * $k50

// 60%
@media only screen and (min-width: 1440px) and (max-width: 1679px)
  .section_exp
    .section
      &__icon
        width $icon-size * $k60
        height $icon-size * $k60

        margin-right $icon-margin-right * $k60

      &__title
        margin-bottom $title-margin-bottom * $k60
        margin-right $title-margin-right * $k60

      &__line
        margin-bottom $line-margin-bottom * $k60

      &__content
        padding-left $content-padding-left * $k60
        padding-top $content-padding-top * $k60

// 70%
@media only screen and (min-width: 1680px) and (max-width: 1919px)
  .section_exp
    .section
      &__icon
        width $icon-size * $k70
        height $icon-size * $k70

        margin-right $icon-margin-right * $k70

      &__title
        margin-bottom $title-margin-bottom * $k70
        margin-right $title-margin-right * $k70

      &__line
        margin-bottom $line-margin-bottom * $k70

      &__content
        padding-left $content-padding-left * $k70
        padding-top $content-padding-top * $k70

// 80%
@media only screen and (min-width: 1920px) and (max-width: 2047px)
  .section_exp
    .section
      &__icon
        width $icon-size * $k80
        height $icon-size * $k80

        margin-right $icon-margin-right * $k80

      &__title
        margin-bottom $title-margin-bottom * $k80
        margin-right $title-margin-right * $k80

      &__line
        margin-bottom $line-margin-bottom * $k80

      &__content
        padding-left $content-padding-left * $k80
        padding-top $content-padding-top * $k80
