mixin photo(options)
  -
    options = options || {};

    const img = options.img || {};

    let imgStyle = "";
    if (img.src) {
      imgStyle += "background-image: url(\"" + img.src + "\");";
      imgStyle += "background-color: transparent;";

      if (img.x || img.y) {
        let x, y;
        x = img.x ? img.x : "0";
        y = img.y ? img.y : "0";
        imgStyle += "background-position: " + x + " " + y + ";";
      }

      if (img.size) {
        imgStyle += "background-size: " + img.size + ";";
      }
    }

  .photo
    .photo__container(style=imgStyle)
