@require "../colors"

.photo
  width 38.5rem
  height 38.5rem
  border 1px solid $color-blue
  border-radius 50%
  display flex
  justify-content center
  align-items center

  &__container
    width 33.75rem
    height 33.75rem
    border-radius 50%
    background-color $color-blue
    background-repeat no-repeat
