include ../progress-bar/progress-bar

mixin software-list(o)
  -
    o = o || {};
    o.software = o.software || [];

  .software-list
    .software-list__col-1
      - for (let i = 0; i < o.software.length; i += 2)
        .software-list__item
          +progress-bar(o.software[i])
    .software-list__col-2
      - for (let i = 1; i < o.software.length; i += 2)
        .software-list__item
          +progress-bar(o.software[i])
