include ../progress-bar/progress-bar

mixin software-list(options)
  -
    options = options || {};

    const software = options.software || [];

  .software-list
    .software-list__left-column
      - for (let i = 0; i < software.length; i += 2)
        .software-list__item
          +progress-bar(software[i])
    .software-list__right-column
      - for (let i = 1; i < software.length; i += 2)
        .software-list__item
          +progress-bar(software[i])
