.software-list
  display flex
  justify-content space-between
  padding-right 0.416666666rem
  padding-left 1.25rem

  @media only screen and (max-width: 480px)
    flex-direction column

  &__left-column, &__right-column
    width 44.35%

    @media only screen and (max-width: 480px)
      width 100%

  &__left-column
    @media only screen and (max-width: 480px)
      margin-bottom 3.2rem

  &__list-item
    margin-bottom 2.7rem

  &__list-item:last-child
    margin-bottom 0
