@require '../progress-bar/progress-bar.styl'

.software-list
  display flex

  justify-content space-between

  padding-left 15px
  padding-right 5px

  &__col-1, &__col-2
    width 44.35%

  &__item
    margin-bottom 50px
