@import 'fonts/fonts.styl'
@import 'components/person-card/person-card.styl'
@import 'components/profile-section/profile-section.styl'
@import 'components/contact-section/contact-section.styl'
@import 'components/skill-section/skill-section.styl'
@import 'components/software-section/software-section.styl'
@import 'components/exp-section/exp-section.styl'
@import 'components/education-section/education-section.styl'

html
  font-size 12px

body
  margin 0
  padding 0

.main-wrapper
  width 90.8%

  margin 0 auto

  padding-top 152px

  font-family 'Myriad Pro'

  display flex

  justify-content space-between

  &__col-1
    width 36.8%

    padding-top 24px
    padding-left 8px

    .person-card
      margin-bottom 149px

    .section_profile
      margin-bottom 91px

    .section_contact
      margin-bottom 31px

  &__col-2
    width 56.2%

    .section_education
      margin-bottom 101px

    .section_exp
      margin-bottom 102px
