doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content=htmlWebpackPlugin.options.data.keywords)
    meta(name="description", content=htmlWebpackPlugin.options.data.description)
    link(rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico")
    title cv-project
  body
    include components/person-card/person-card
    include components/section/section
    include components/text/text
    include components/contact-list/contact-list
    include components/skill-list/skill-list
    include components/period-list/period-list
    include components/software-list/software-list

    .main-wrapper

      .main-wrapper__col-1

        .main-wrapper__person-card
          +person-card(htmlWebpackPlugin.options.data.personCard)

        .main-wrapper__profile
          +section({title: "Profile", type: "profile"})
            +text()
              |!{htmlWebpackPlugin.options.data.about}

        .main-wrapper__contact
          +section({title: "Contact", type: "contact"})
            +contact-list({contacts: htmlWebpackPlugin.options.data.contacts})

        .main-wrapper__skills
          +section({title: "Skills", type: "skill"})
            +skill-list({skills: htmlWebpackPlugin.options.data.skills})

      .main-wrapper__col-2

        .main-wrapper__education
          +section({title: "Education", type: "education"})
            +period-list({periods: htmlWebpackPlugin.options.data.education})

        .main-wrapper__experience
          +section({title: "Experience", type: "experience"})
            +period-list({periods: htmlWebpackPlugin.options.data.exp})

        .main-wrapper__software
          +section({title: "Software", type: "software"})
            +software-list({software: htmlWebpackPlugin.options.data.software})
