doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content=htmlWebpackPlugin.options.data.keywords)
    meta(name="description", content=htmlWebpackPlugin.options.data.description)
    title cv-project
  body
    .main-wrapper
      .main-wrapper__col-1
        include components/person-card/person-card
        +person-card(htmlWebpackPlugin.options.data.personCard)

        include components/profile-section/profile-section
        +profile-section()
          |!{htmlWebpackPlugin.options.data.about}

        include components/contact-section/contact-section
        +contact-section({contacts: htmlWebpackPlugin.options.data.contacts})

        include components/skill-section/skill-section
        +skill-section({skills: htmlWebpackPlugin.options.data.skills})

      .main-wrapper__col-2
        include components/education-section/education-section
        +education-section({education: htmlWebpackPlugin.options.data.education})

        include components/exp-section/exp-section
        +exp-section({exp: htmlWebpackPlugin.options.data.exp})

        include components/software-section/software-section
        +software-section({software: htmlWebpackPlugin.options.data.software})
