*
  font-family 'Myriad Pro'

@import 'fonts/fonts.styl'
@import 'components/person-card/person-card.styl'
@import 'components/profile-section/profile-section.styl'
@import 'components/contact-section/contact-section.styl'
@import 'components/skill-section/skill-section.styl'
@import 'components/software-section/software-section.styl'
@import 'components/exp-section/exp-section.styl'
