*
  font-family 'Myriad Pro'

@import 'fonts/fonts.styl'
@import 'components/circle/circle.styl'
@import 'components/person-card/person-card.styl'
@import 'components/section/section.styl'
@import 'components/profile-section/profile-section.styl'
@import 'components/contact/contact.styl'
@import 'components/contact-section/contact-section.styl'
@import 'components/skill/skill.styl'
