include ../power-bar/power-bar

mixin skill-list(options)
  -
    options = options || {};

    const skills = options.skills || [];

  .skill-list
    each skill in skills
      .skill-list__list-item
        +power-bar(skill)
