include ../power-bar/power-bar

mixin skill-list(options)
  -
    options = options || {};
    options.skills = options.skills || [];
    
  .skill-list
    each skill in options.skills
      .skill-list__item
        +power-bar(skill)
